<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite Text Requests" stopProcessing="true">
          <match url=".*" />
            <conditions>
              <add input="{HTTP_METHOD}" pattern="^GET$" />
              <add input="{HTTP_ACCEPT}" pattern="^text/html" />
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>